.nav__cityButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 10px;

    color: rgba(34, 34, 34, 0.8);
    font-weight: 600;

    border: 3px solid rgba(128, 128, 128, 0.4);
    border-radius: 15px;
    cursor: pointer;

    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}

.nav__cityButton:hover {
    border: 3px solid rgba(128, 128, 128, 0.7);
    transition: ease-in-out 0.3s;
}

.cityButton__name {
    text-align: center;
    font-size: 38px;
}

@media only screen and (min-width: 769px) and ( max-width: 1200px)  {

    .nav__cityButton {
        width: 200px;
    }

    .cityButton__name {
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px) {

    .nav__cityButton {
        width: 100px;
        padding: 5px;
    }

    .cityButton__name {
        font-size: 18px;
    }
}